<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Home{% endblock title %} | {{ORG_NAME}} Dashboard</title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700" rel="stylesheet">
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.min.css" type="text/css">
    {% endcompress %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% block head_scripts %}{% endblock head_scripts %}
</head>
<body>
    <div class="site-header">
        <header class="dashboard-logo logo" role="banner">
            <a href="{% url 'dashboard:main' %}" accesskey="1" title="Home">{{ORG_NAME}} Dashboard</a>
        </header><!--
        --><div class="site-nav-session">
            {% include "session-box.html" %}
        </div>
        <div class="nav-wrap__container">
            <div class="site-nav__container">
            <nav role="navigation" class="site-nav">
                <ul class='site-nav__ul'><li class="site-nav__li">
                        <a class='site-nav__a' href="{% url 'dashboard:#firstAppName#:main' %}"><span class="site-nav__text">#firstAppTitle#</span></a>
                    </li>
                </ul>
            </nav>
        </div></div>
    </div>
    <div class="dashboard-wrap" role="main">
        {% if messages %}
        <ul class="messages colored-content-box white-bg-color">
            {% for message in messages %}
            <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    
    {% compress js %}
    <script src="{{STATIC_URL}}js/responsive-nav.js"></script>
    <script src="{{STATIC_URL}}js/page-tabs.js"></script>
    <script src="{{STATIC_URL}}js/delete-confirmation.js"></script>
    <script src="{{STATIC_URL}}js/django-ajax-csrf.js"></script>
    {% endcompress %}
    {% block scripts %}{% endblock %}
    <script>
        var nav = responsiveNav(".site-nav");
    </script>
</body>
</html>